body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px;
}

.botao {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}